.quantum-inf-well-tool {
  flex-grow: 1;
  display: grid;
  grid-template:
    "slider chart"
    "info chart";
  grid-template-columns: 100px auto;
  grid-template-rows: auto 40px;
  gap: 10px 30px;
}

.quantum-inf-well-tool .n-info {
  grid-area: info;
  text-align: center;
}
.quantum-inf-well-tool .quantum-inf-well-chart {
  grid-area: chart;
}
