.quantum-jump-tool {
  flex-grow: 1;
  display: grid;
  grid-template:
    "slider chart"
    "button chart";
  grid-template-columns: 100px auto;
  grid-template-rows: auto 4em;
  gap: 10px 30px;
}

.quantum-jump-tool input {
  grid-area: slider;
  text-align: center;
}
.quantum-jump-tool button {
  grid-area: button;
  margin: 1em 0 1em 0;
}

.quantum-jump-tool .canvas-wrapper {
  grid-area: chart;
}
