@font-face {
  font-family: Akatab;
  src: url("assets/fonts/akatab-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: ABeeZee;
  src: url("assets/fonts/ABeeZee.ttf");
}

@font-face {
  font-family: AROneSans;
  src: url("assets/fonts/AR\ One\ sans.ttf");
}

:root {
  --accent-color: rgb(1, 196, 138);

  font-family: Akatab;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.home .icon {
  content: url("assets/icons/house-light.png");
}

.settings .icon {
  content: url("assets/icons/cogwheel-light.png");
}

.settings .icon:hover {
  content: url("assets/icons/cogwheel-fill-light.png");
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #242424;
  }

  .home .icon {
    content: url("assets/icons/house-light.png");
  }

  .settings .icon {
    content: url("assets/icons/cogwheel-light.png");
  }

  .settings .icon:hover {
    content: url("assets/icons/cogwheel-fill-light.png");
  }
} */

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: rgb(118, 255, 140);
}

body {
  margin: 0;
  display: flex;
}

.icon {
  width: 2em;
  will-change: filter;
  transition: 0.25s;
}

#wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.side-menu {
  --side-menu-width: 2em;
  font-size: larger;
  position: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 1em);
  background-color: #0f0f0f;
  padding: 0.5em;
  gap: 1em;
  /* border-right: 2px solid rgb(156, 156, 156); */
  box-shadow: 5px 0px 15px 0px #0f0f0f;
  z-index: 1;
  font-size: larger;
  margin: 0;
  width: 2em;
  height: calc(100vh - 1em);
  padding: 0.5em;
}

.side-menu .chapter-name {
  display: none;
  color: white;
}

.side-menu .chapter-name:hover {
  color: var(--accent-color);
}

.content {
  margin-left: 4rem;
  padding: 0 2.5% 2em 2.5%;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  /* font-size: 40px; */
  width: 95%;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.content > ul {
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  margin-left: auto;
  margin-right: auto;
}

.side-menu > a {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.side-menu:hover {
  width: auto;
}

.side-menu:hover .chapter-name {
  display: inline;
}

.side-menu a {
  text-decoration: none;
  margin-left: 0;
}

.side-menu a:hover {
  color: rgb(253, 253, 253);
}

.side-menu a:active {
  color: rgb(160, 194, 184);
}

.side-menu a {
  color: var(--accent-color);
  overflow: hidden;
  white-space: nowrap;
}

.side-menu a:last-of-type {
  margin-top: auto;
  margin-bottom: 1em;
  display: none;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2em;
}

.home-header h1 {
  font-size: 4em;
}

.home-title-line {
  width: 300px;
  height: 3px;
  background-color: whitesmoke;
  border-radius: 2em;
}

.narrator-box {
  display: flex;
  align-items: center;
  flex: 0 0 8em;
  height: 25%;
  max-height: 25%;
  border: 2px solid rgb(100, 100, 100);
  background-color: #181818;
  text-align: center;
  bottom: 2em;
  /* width: 90vw; */
  /* max-width: 90vw; */
  padding: 0.5em 1em 0.5em 1em;
  gap: 1em;
  overflow: hidden;
}

.nav-button {
  border: 2px solid var(--accent-color);
  border-radius: 40px;
  min-width: 2em;
  height: 2em;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  font-weight: bold;
}

.nav-button:hover {
  background-color: var(--accent-color);
  color: rgb(17, 17, 17);
}

.nav-button:active {
  background-color: rgb(101, 255, 183);
  border-color: rgb(101, 255, 183);
}

.narrator-box__back-button {
}

.narrator-box__step {
  display: none;
  flex-grow: 1;
  transition: 1s;
  overflow-y: scroll;
  height: 100%;
  max-height: 100%;
}
.narrator-box__step--active {
  display: block;
}

.narrator-box__forward-button {
}

.chart {
  background: #333333;
  border-radius: 10px;
  box-shadow: 8px 11px 10px 22px rgba(51, 51, 51, 1);
}

.slider {
  appearance: slider-vertical;
  transform: rotate(180deg);
  transition-duration: 500ms;
}

.green-button {
  box-shadow: inset 0px 1px 0px 0px #3dc21b;
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  border-radius: 3px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
